body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    overflow-x: hidden;
    font-size: 15px;
    .green {
        color: #68e0cf;
    }
    svg {
        width: 50px;
    }
    h2 {
        font-size: 60px;

        @media screen and (max-width: 390px) {
            & {
                font-size: 20px;
            }
        }
    }

    h4 {
        @media screen and (max-width: 390px) {
            & {
                font-size: 15px;
            }
        }
    }
    h5 {
        font-weight: 500;

        @media screen and (max-width: 390px) {
            & {
                font-size: 15px;
            }
        }
    }
    // .posImg {
    //     position: relative;
    //     left: 0;
    //     top: 0;
    // }


    
    header {
        nav {
            width: 90% !important;
            background-color: #55575a;
            position: fixed !important;
            top: 50px;
            z-index: 999;
            left: 5%;
            border-radius: 40px;
            ul {
                li {
                    a {
                        color: rgb(230, 230, 230) !important;
                        font-weight: 900 !important;
                        text-transform: uppercase !important;
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
    main {
        background-color: #373b40;

        .sec1 {
            padding: 130px 65px 65px 65px;
            position: relative;
            @media screen and (max-width: 960px) {
                & {
                    padding: 130px 55px 65px 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 130px 45px 65px 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 130px 35px 65px 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 130px 25px 65px 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 130px 15px 65px 15px;
                }
            }
            @media screen and (max-width: 650px) {
                & {
                    padding: 130px 5px 65px 5px;
                }
            }
            .sec1Div {  
                padding-top: 40%;
                @media screen and (max-width: 1800px) {
                    & {
                        padding-top: 48%;
                    }
                }
                @media screen and (max-width: 400px) {
                    & {
                        padding-top: 68%;
                    }
                }
            
            }
            .nameDiv {
                left: -15%;
                position: absolute;
                width: 350px;
                height: 350px;
                z-index: 999;
                border-radius: 50%;
                background-color: #373b40;
                // line-height: 400px;
                padding: 25px;
                box-sizing: border-box;
                @media screen and (max-width: 1800px) {
                    & {
                        left: 2%;
                        // transform: translate(-50%);
                        background-color: #4a5056;
                    }
                }

                @media screen and (max-width: 1343px) {
                    & {
                        left: 2%;
                        width: 290px;
                        height: 290px;
                        // transform: translate(-50%);
                        background-color: #4a5056;
                    }
                }

                @media screen and (max-width: 1243px) {
                    & {
                        left: 2%;
                        width: 270px;
                        height: 270px;
                        // transform: translate(-50%);
                        background-color: #4a5056;
                    }
                }

                @media screen and (max-width: 1200px) {
                    & {
                        left: 2%;
                        top: 35%;
                        // transform: translate(-50%);
                        background-color: #4a5056;
                    }
                }
                @media screen and (max-width: 1100px) {
                    & {
                        left: 2%;
                        top: 25%;
                        // transform: translate(-50%);
                        background-color: #4a5056;
                    }
                }
                @media screen and (max-width: 930px) {
                    & {
                        left: 2%;
                        top: 20%;
                        width: 230px;
                        height: 230px;
                        // transform: translate(-50%);
                        background-color: #4a5056;
                    }
                }
                @media screen and (max-width: 830px) {
                    & {
                        left: 2%;
                        top: 10%;
                        // transform: translate(-50%);
                        background-color: #4a5056;
                    }
                }
                @media screen and (max-width: 700px) {
                    & {
                        left: 30%;
                        top: 30%;
                        width: 200px;
                        height: 200px;
                        // transform: translate(-50%);
                        background-color: #4a5056;
                    }
                }
                span {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size: 50px;
                    text-align: center;
                    font-weight: 900;
                    color: white;
                    transform: translate(-50%, -50%);

                    @media screen and (max-width: 1343px) {
                        & {
                            font-size: 40px;
                        }
                    }
                    @media screen and (max-width: 930px) {
                        & {
                            font-size: 30px;
                        }
                    }
                    @media screen and (max-width: 700px) {
                        & {
                            font-size: 25px;
                        }
                    }
                }

            }
            
        }
        .sec2 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);
            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
        }
        .sec3 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);

            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
        }
        .sec4 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);

            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
        }
        .sec5 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);

            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
            .rotateText {
                position: absolute;
                transform: rotate(90deg);
            }
        }
        .sec6 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);
            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }

            .rotateText {
                position: absolute;
                transform: rotate(90deg);
            }
        }
        .sec7 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);
            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
            h6 {
                color: #68e0cf;
            }
            .bat1 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;
                position: relative;
            }
            .bat1::after {
                content: '';
                width: 95%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg 1s ease-in-out;
            }
            @keyframes pg {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 300px;
                    height: 2px;
                }
            }
            .bat2 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;
                position: relative;
            }
            .bat2::after {
                content: '';
                width: 90%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg2 1s ease-in-out;   
            }
            @keyframes pg2 {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 290px;
                    height: 2px;
                }
            }
            .bat3 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;
                ;
                position: relative;
            }
            .bat3::after {
                content: '';
                width: 80%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg 1s ease-in-out;   
            }
            @keyframes pg {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 300px;
                    height: 2px;
                }
            }
            .bat4 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;;
                position: relative;
            }
            .bat4::after {
                content: '';
                width: 83%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg 1s ease-in-out;   
            }
            @keyframes pg {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 300px;
                    height: 2px;
                }
            }
            .bat5 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;
                ;
                position: relative;
            }
            .bat5::after {
                content: '';
                width: 88%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg 1s ease-in-out;   
            }
            @keyframes pg {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 300px;
                    height: 2px;
                }
            }
            .bat6 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;
                position: relative;
                   
            }
           
            .bat6::after {
                content: '';
                width: 92%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg2 1s ease-in-out;
            }
            @keyframes pg2 {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 290px;
                    height: 2px;
                }
            }
            .bat7 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;
                ;
                position: relative;
            }
            .bat7::after {
                content: '';
                width: 90%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg 1s ease-in-out;
            }
            @keyframes pg {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 300px;
                    height: 2px;
                }
            }
            .bat8 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;;
                position: relative;
            }
            .bat8::after {
                content: '';
                width: 82%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg3 1s ease-in-out;
            }
            @keyframes pg3 {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 270px;
                    height: 2px;
                }
            }
        }
        .sec8 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);

            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }

            h6 {
                color: #68e0cf;
            }

            .bat9 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;;
                position: relative;
            }
            .bat9::after {
                content: '';
                width: 75%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg4 1s ease-in-out;
            }
            @keyframes pg4 {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 300px;
                    height: 2px;
                }
            }


            .bat10 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;
                position: relative;
            }
            .bat10::after {
                content: '';
                width: 98%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg5 1s ease-in-out;
            }
            @keyframes pg5 {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 345px;
                    height: 2px;
                }
            }

            .bat11 {
                width: 100%;
                height: 2px;
                border: solid 2px #585d65;
                ;
                position: relative;
            }
            .bat11::after {
                content: '';
                width: 85%;
                height: 2px;
                background-color: #68e0cf;
                position: absolute;
                top: -1px;
                left: -1px;
                animation: pg6 1s ease-in-out;
            }
            @keyframes pg6 {
                0%{
                    width: 0px;
                    height: 2px;
                }
                100% {
                    width: 310px;
                    height: 2px;
                }
            }
        }
        .sec9 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);

            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
        }
        .sec10 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);

            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
            .imgcol {
                background-image: url(../img/girl1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            .imgcol2 {
                background-image: url(../img/girl2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
        .sec11 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);

            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
            .imgcol3 {
                background-image: url(../img/work8.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // width: 100%;
                height: 350px;
            }
            .imgcol4 {
                background-image: url(../img/work7.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // width: 100%;
                height: 350px;
            }
            .imgcol5 {
                background-image: url(../img/work6.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // width: 300px;
                height: 350px;
            }
            .imgcol6 {
                background-image: url(../img/work5.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // width: 300px;
                height: 350px;
            }
            .imgcol7 {
                background-image: url(../img/work4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // width: 300px;
                height: 350px;
            }
            .imgcol8 {
                background-image: url(../img/work3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // width: 300px;
                height: 350px;
            }
            .imgcol9 {
                background-image: url(../img/work2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // width: 300px;
                height: 350px;
            }
            .imgcol10 {
                background-image: url(../img/work1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                // width: 300px;
                height: 350px;
            }
        }
        .sec12 {
            padding: 65px;
            border-top: 1px solid rgb(82, 82, 82);
            @media screen and (max-width: 960px) {
                & {
                    padding: 55px;
                }
            }
            @media screen and (max-width: 900px) {
                & {
                    padding: 45px;
                }
            }
            @media screen and (max-width: 850px) {
                & {
                    padding: 35px;
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    padding: 25px;
                }
            }
            @media screen and (max-width: 750px) {
                & {
                    padding: 15px;
                }
            }
            @media screen and (max-width: 700px) {
                & {
                    padding: 5px;
                }
            }
            .colborder {
                border: 2px solid grey;
                // width: 400px;
                // height: 400px;
                border-radius: 10px;
            }
        }
    }



// sidebar
.sideBar {
    margin: 0;
    padding: 0;
    width: 700px;
    background-image: url(../img/man.jpg);
    position: fixed;
    z-index: 998;
    height: 100%;
    overflow: auto;
    background-size: cover;
    @media screen and (max-width: 1800px) {
        & {
            width: 600px;
        }
    }
    @media screen and (max-width: 1400px) {
        & {
            width: 500px;
        }
    }
    @media screen and (max-width: 1200px) {
        & {
            margin: 0;
            padding: 0;
            width: 100%;
            z-index: 999;
            background-image: url(../img/man.jpg);
            height: 500px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 30% 30%;
        }
    }
}

.contentDiv {
    margin-left: 700px;
    padding: 1px 0;
    height: 1000px;
    @media screen and (max-width: 1800px) {
        & {
            margin-left: 600px;
        }
    }
    @media screen and (max-width: 1400px) {
        & {
            margin-left: 500px;
        }
    }
    @media screen and (max-width: 1200px) {
        & {
            margin: 0;
        }
    }
}

@media screen and (max-width: 700px) {
    .sideBar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .contentDiv {
        margin-left: 0;
    }
}
}